[submodule "codebase/interface"]
	path = codebase/interface
	url = ../eoos-api.git
[submodule "codebase/library"]
	path = codebase/library
	url = ../eoos-library.git
[submodule "codebase/system"]
	path = codebase/system
	url = ../eoos-system-if-freertos.git
[submodule "codebase/kernel"]
	path = codebase/kernel
	url = ../eoos-kernel-if-freertos.git
